html, body {
    height: 100%; 
    margin: 0; 
}

#maze-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content; 
    padding: 10px;
    box-sizing: border-box; 
   
}
#maze-board {
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
}

