html, body {
    height: 100%; /* Make sure the parent elements are full height */
    margin: 0; /* Remove default margin */
    
}

#maze-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content; /* Adjust width to fit its content */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width calculation */
    /* remove margin: 0 auto; as it is no longer necessary with flexbox */
}
#maze-board {
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
}

